<%= render "shared/user_setting"%>
<%= link_to "編集", users_profile_edit_path %>
<table>
    <tr>
        <th>アイコン画像</th>
        <td><%= image_tag @user.image if @user.image.attached? %></td>
    </tr>
    <tr>
        <th>名前</th>
        <td><%= @user.name %></td>
    </tr>
    <tr>
        <th>自己紹介</th>
        <td><%= @user.introduction %></td>
    </tr>
</table>