<%= link_to "戻る", :back, class: :back %>

<div class="room">
    <div class="room-image"><%= image_tag @room.image %></div>
    <div class="room-text">
        <div class="room-name-prices">
            <p class="facility_name"><%= @room.facility_name %></p>
            <p class="prices"><%= @room.prices %>~</p>
        </div>
        <p class="address"><%= @room.address %></p>
        <p><%= @room.introduction %></p>
        <table>
            <%= form_with model:@reservation, url: confirm_reservations_path do |f| %>
            <tr>
                <th><%= f.label :check_in_date, "チェックイン" %></th>
                <th><%= f.label :check_out_date, "チェックアウト" %></th>
                <th><%= f.label :number, "人数" %></th>
            </tr>
            <tr>
                <td><%= f.date_field :check_in_date %></td>
                <td><%= f.date_field :check_out_date %></td>
                <td><%= f.number_field :number %></td>
            </tr>
        </table>
        <%= f.hidden_field :room_id, value: @room.id %>
        <%= f.submit "予約する", class: :submit if logged_in? %>
        <%= link_to "ログイン", sign_in_path if !logged_in? %>
        <% end %>
    </div>
</div>